/* * {
    text-align: center;
} */
body {
    margin: 0;
    background: linear-gradient(#ffffffaa, #ffffffaa), url(./image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    padding: 8rem 0rem;
}
.picture-overlay {
    /* height: 90vh;
    background-color: #ffffffaa; */
    /* padding: 5rem 0rem; */
}
.login {
    box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.47);
    border-radius: 6px;
    border-top: 3px solid #2ec4b6;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: auto;
    padding: 2rem 1.7rem;
}
.image-alone {
    margin: auto;
    text-align: center;
}
.logo-image {
    max-width: 170px;
}
/* .login label {} */
.typography1 {
    font-family: 'Candara';
    margin: 1.6rem 0;
    font-size: 17px;
    text-align: center;
}
.text-color1 {
    color: rgb(85, 85, 85);
}
.typography2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.text-color2 {
    color: #ffffff;
}
.typography3  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.typography4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #2ec4b6;
}
.text-color3 {
    color: rgb(46, 196, 182);
}
.inputs_get input[type=email], .inputs_get input[type=password] {
    box-sizing: border-box;
    min-width: 228px;
    margin: auto;
    width: 100%;
    padding: 0.3rem;
}
.signInbutton {
    margin: 1rem auto 0 auto;
    width: 100%;
    padding: 7px;
    background-color: rgb(46, 196, 182);
    border-radius: 5px;
    border: 2px solid #2ec4b6;
}
.signInbutton:hover {
    /* color: #2ec4b6; */
    background-color: #27a497;
    border-color: #27a497;
}
.createButton {
    width: 100%;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid;
    border-color: rgb(46, 196, 182);
    margin: auto;
}
.createButton:hover {
    /* background-color: #2ec4b6; */
    color: #27a497;
    border-color: #27a497;
}
.login a {
    text-decoration: none;
}
.login a:hover {
    text-decoration: underline;
}
.other-links p {
    text-align: center;
    margin: 0;
}
p.other-links {
    text-align: center;
    margin: 0;
}