{% extends 'stuternlogin/layout_s.html' %}
{% load static %}
{% block body %}
    <main class="picture-overlay">
        <div class="login">
            <div class="image-alone">
                <img alt="Stutern Logo" src="{% static 'images/logo-stutern.jfif' %}" href="#stutern"
            class="logo-image">
            </div>
            <p class="typography1 text-color1">LOGIN</p>
            <form class="inputs_get" action="{% url 'stuternlogin:login' %}" method="post">
                {% csrf_token %}
                <label class="typography2 text-color1 labels">Username</label><br>
                <input title="Please fill out this field" placeholder="e.g penelope" type="text" name="username" class="typography4"><br><br>
                <label class="typography2 text-color1 labels">Password</label><br>
                <input title="Please fill out this field" placeholder="****" type="password" class="typography4" name="password"><br><br>
                <input type="checkbox" title="Remember Login">
                <label class="typography2 text-color1 labels">Remember Me</label><br>
                <button title="Sign In" class="signInbutton typography3 text-color2" value="Login" type="submit"> Sign In</button><br><br>
                <a href="{% url 'stuternlogin:create' %}"><button title="Create An Account" class="createButton typography3 text-color3">Create an account</button></a><br><br>
                <a href="#forgot-password " class="typography2 text-color3 other-links"><p>Forgot Your Password?</p></a>
                <a href="#other-problems " class="typography2 text-color3 other-links"><p>Didn't receive confirmation instructions?</p></a>
            </form><br>
            {% if message %}
                <div style="color: white; background-color:blue; text-align:center; padding: 2px;"> {{message}} </div>
            {% endif %}
        </div>
    </main>
{% endblock %}