{% extends 'stuternlogin/layout_s.html' %}
{% load static %}
{% block body %}
    <main class="picture-overlay">
        <div class="login">
            <div class="image-alone">
                <img alt="Stutern Logo" src="{% static 'images/logo-stutern.jfif' %}" href="#stutern"
            class="logo-image">
            </div>
            <p class="typography1 text-color1">REGISTER</p>
            <form class="inputs_get">
                <label class="typography2 text-color1 labels">Email</label><br>
                <input title="Please fill out this field" placeholder="e.g red@rebeccadaniel.com" type="email" class="typography4"><br><br>
                <label class="typography2 text-color1 labels">Password</label><br>
                <input title="Please fill out this field" placeholder="****" type="password" class="typography4"><br>
                <!-- <input type="checkbox" title="Remember Login"> -->
                <!-- <label class="typography2 text-color1 labels">Remember Me</label><br> -->
            </form>
            <button title="Sign In" class="signInbutton typography3 text-color2">Sign up as Intern</button><br><br>
            <button title="Create An Account" class="createButton typography3 text-color3">Already a member? Login</button><br><br>
            <!-- <a href="#forgot-password " class="typography2 text-color3 other-links"></a> --><p class="typography2 text-color1 other-links">By signing up you agree to our</p>
            <a href="#other-problems " class="typography2 text-color3 other-links"><p>Terms and Privacy Policy</p></a>
        </div>
    </main>
{% endblock %}